header {
	background: url(/images/headerBg.png);
	background-size: cover;
	padding: 20px;
	@include max_mq(600px) {
		padding: 0;
	}
}

.logo {
	display: block;
	margin: 0 auto;
	@include max_mq(600px) {
		
	}
}