header {
	background: url(../images/headerBg.png);
	background-size: cover;
	padding: 20px;
	@include max_mq(600px) {
		padding: 0;
	}
}

.logo {
	display: block;
	margin: 0 auto;
	width: 40%;
	@include max_mq(600px) {
		width: 50%;
	}
	@include max_mq(400px) {
		width: 60%;
	}
}