.intro,
.driveways,
.design {
	margin-bottom: 30px;
}

.intro {
	img {
		margin-left: 5%;
		width: 40%;
	}
}

.driveways {
	img {
		margin-right: 5%;
		width: 40%;
	}
}

.design,
.services {
	div	{
		width: 55%;
	}
	p {
		width: 100%;
	}
	img {
		margin-left: 5%;
		width: 40%;
	}
}

main a img {
	border: 9px solid #999;
	&:hover {
		border: 9px solid #666;
	}
}

.portfolio,
.contact {
	border-top: 1px solid #060;
	margin-bottom: 20px;
	padding-top: 20px;
}