.menu {
	border-bottom: 1px solid #060;
	color: #060;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2rem;
	margin-bottom: 20px;
	padding-bottom: 15px;
	a {
		color: inherit;
		font-size: inherit;
		text-decoration: none;
		&:hover {
			color: #096;
			border-bottom: 1px solid #096;
		}
	}
	@include max_mq(600px) {
		font-size: 1rem;
	}
}

.telephone,
.telephone img {
	float: left;
}

.telephone {
	width: 50%;
	img {
		margin-top: 5px;
		@include max_mq(600px) {
			margin-top: 0;
		}
	}
}

.nav {
	float: right;
	margin-right: 13px;
	margin-top: 13px;
	li {
		display: inline-block;
		font-size: 1.3rem;
		padding: 0 10px;
		@include max_mq(600px) {
			font-size: 1.1rem;
			padding: 0 4px;
		}
	}
	@include max_mq(600px) {
		margin-right: 10px;
	}
}